.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 13;
}

.popup-inner{
    position: relative;
    padding: 50px;
    width: 100%;
    max-width: 1080px;
    background-color: #0D004C;
    height: calc(100% - 230px);
    margin-bottom: 5%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 15px;
}

.popup-inner .close-btn{
    position: absolute;
    bottom: 25px;
    right: 120px;
    padding: 8px 16px;
    background-color: #E2066F;
    color: white;
    font-family: 'Sofia Pro', sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.popup-inner .close-btn:hover {
    background-color: #E2066F;
    color: black;
}

.popup-inner .accept-wrapper{
    position: absolute;
    bottom: 25px;
    right: 85px;
    padding: 10px 16px;
    background-color: #E2066F;
    border-radius: 4px;
    
}

.popup > p, .popup > h3 {
    color: white;
    font-family: 'Sofia Pro', sans-serif;
}

.popup-inner > p > h1, .popup-inner > h2 {
    color: #E2066F;
}
  