@font-face {
    font-family: 'Sofia Pro';
    src: url(../public/sofia-pro-font/SofiaProRegular.ttf);
}

@font-face {
    font-family: 'Sofia Pro Bold';
    src: url(../public/sofia-pro-font/SofiaProBold.ttf);
}

@font-face {
    font-family: 'Sofia Pro Black';
    src: url(../public/sofia-pro-font/SofiaProBlack.ttf);
}

@font-face {
    font-family: 'Sofia Pro Medium';
    src: url(../public/sofia-pro-font/SofiaProMedium.ttf);
}

body {
    background-color: #0D004C;
    font-family: 'Sofia Pro', sans-serif;
    color: #ffff;
    margin: 0;
}

#selectors {
    display: flex;
    height: 80vh;
    margin: 0 64px;
    gap: 48px;
    justify-content: space-around;
}

#leftBox, #infoSelect {
    flex: 1;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.pinkLogo {
    color: #E2066F;
    display: inline;
    font-size: 24px;
    font-family: 'Sofia Pro Black';
}

.WhiteLogo {
    width: 83px;
    margin-right: 14px;
    align-self: center;
}

.Logos {
    margin: 40px 0 0 40px;
    display: flex;
    cursor: pointer;
}

.rod {
    background-color: white;
    width: 436px;
    height: 4px;
    border-radius: 50px ;
}

.state {
    margin-top: 6vh; /*keksi joku toinen ratkaisu keskittää statebar*/
}
.sfiaBall, .softBall, .reviewBall {
    width: 19px;
    height: 19px;
    background-color: white;
    border-radius: 50%;
}

.balls {
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sfiaBall {
    background-color:#E2066F;
    position: absolute;
    left: 0;
}

.reviewBall {
    position: absolute;
    right: 0;
}

.softBall {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.step{
    width: 6em;
}

.step > p {
    margin-top: 2em;
}

.step:nth-child(1) > p {
    text-align: left;
}

.step:nth-child(2) > p {
    text-align: center;
}
.step:nth-child(3) > p {
    text-align: right;
}

.userSettings {
    display: flex;
    gap: 78px;
    margin: 60px 70px 0 0;
}

#Sfia--leftBox, #Sfia--rightBox {
    border: 4px solid white;
    height: 80%;
}

#Sfia--leftBox {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 25px;
    padding: 32px;
}

#Sfia--leftBox::-webkit-scrollbar {
    width: 20px;
}

#Sfia--leftBox::-webkit-scrollbar-track {
    background-color: #282727;
}

#Sfia--leftBox::-webkit-scrollbar-thumb {
    background-color: #028574;
    border: 5px solid #282727;
  }

#Sfia--leftBox::-webkit-scrollbar-thumb:hover {
  background-color: #00B49D;
}

#Sfia--rightBox {
    padding: 32px;
    overflow-y: auto;
}

#Sfia--rightBox::-webkit-scrollbar {
    width: 20px;
}

#Sfia--rightBox::-webkit-scrollbar-track {
    background-color: #282727;
}

#Sfia--rightBox::-webkit-scrollbar-thumb {
    background-color: #a97c0d;
    border: 5px solid #282727;
  }

#Sfia--rightBox::-webkit-scrollbar-thumb:hover {
  background-color: #FDB913;
}

.loading--skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.sfia {
    background-color: white;
    outline: 4px solid green;
    outline-offset: -4px;
    color: #0D004C;
    width: 161px;
    height: 70px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 11;
}

.sub {
    transform: rotate(90deg);
    float: left;
    background-color: green;
    width: 70px;
    height: 20px;
    position: absolute;
    left: -15.5%;
    top: 35.7%;
}

.sub > p {
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skillName {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 81px;
    font-size: 14px;
}

.category--selector {
    background-color: #00B49D;
    height: 83px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.category--selector > p {
    display: inline;
    font-size: 32px;
    font-family: 'Sofia Pro Medium';
    color: #0D004C;
}

.arrow {
    color: #0D004C;
    margin: 0 32px;
    font-size: 40px;
}

#category--list {
    background-color: #028574;
    color: #0D004C;
    list-style-type: none;
    font-size: 24px;
    padding: 0 16px 16px 16px;
    margin: 0;
    z-index: 1;
    flex-direction: column;
    align-content: center;
}

#category--list > li {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
    padding: 16px;
}

#category--list > li:hover {
    background-color: #047769;
}

.category {
    overflow: visible;
    height: 83px;
    z-index: 1;
    position: relative;
}

.instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Sofia Pro Bold';
    font-size: 24px;
    width: 200px;
    text-align: center;
    transform: translate(-50%, -50%);
}

#infoTabs {
    background-color: #FDB913;
    height: 83px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: #0D004C;
    font-size: 32px;
    font-family: 'Sofia Pro Medium';
    text-align: center;
}

#infoTabs > div {
    width: 50%;
}

#infoSelect {

}

.info--subHeading {
    background-color: #CE7878;
    display:inline-block;
    padding: 8px 16px;
    color: #0D004C;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 16px 0 0 0;
}

.info--skillHeading {
    text-align: center;
    font-size: 48px;
    font-family: 'Sofia Pro Bold';
    margin: 8px 0 0 0;
}

.info--quickDesc {
    max-width: 605px;
    font-size: 24px;
    text-align: center;
    margin: 16px auto;
}

.info--guidance {
    border: 1px solid white;
    max-width: 654px;
    margin: auto;
    padding: 16px;
    margin-bottom: 27px;
}

.info--guidance > h3 {
    font-size: 20px;
    font-family: 'Sofia Pro Bold';
    margin: 16px 0 0 0;
}

.info--guidance > p, .info--guidance > ul {
    margin-left: 20px;
    font-size: 20px;
}

.info--level {
    margin: 32px 0 0 0;
}

.info--level > h2{
    font-size: 32px;
    margin: 0;
    font-family: 'Sofia Pro Bold';
}

.info--level > p {
    margin: 8px 0 0 14px;
    font-size: 24px;
}

.info--guide {
    text-align: center;
    margin: 16px 0 0 0;
}

.tab {
  background-color: #fdb913;
  cursor: default;
  background-color: #FDB913;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: #a97c0d;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#selected--skillContainers {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}
#selected--instructions {
    text-align: center;
    display: block;
    margin: 0 0 32px 0;
}

.selected--skillContainer {
    border: 1px solid white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    width: 500px;
    height: 300px;
    padding: 16px 0;
    overflow: auto;
}

.selected--skillContainer > h4 {
    text-align: center;
    margin-top: 4px;
}

.selected--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.selecting {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.selecting--box {
    z-index: 11;
    cursor: pointer;
    transition: 200ms;
}

.selecting--box:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

  